@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('02login.jpg');
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 350px;
    background: transparent;
    backdrop-filter: blur(5px);
    border-radius: 10px;
    color: white;
    padding: 25px 25px 25px;
    border: 1px solid white;
}

.wrapper h1 {
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.wrapper .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* background-color: steelblue; */
}

.input-box .input-field {
    position: relative;
    width:70%;
    height: 40px;
    /* background: salmon; */
    margin: 13px 0px;
}

.input-box .input-field input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1.5px solid white;
    outline: none;
    font-size: 15px;
    color: white;
    border-radius: 5px;
    padding: 15px 15px 15px 40px;
}

.input-box .input-field input::placeholder {
    color: white;
}

.input-box .input-field i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
    font-size: 17px;
}

.wrapper .btn {
    margin-left: 42px;
    width: 70%;
    height: 40px;
    background-color: white;
    outline: none;
    border-radius: 10px;
    box-shadow: 1px 1px 3px white;
    cursor: pointer;
    font-size: 15px;
    color: black;
    margin-top: 25px;
}